# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
env/
venv/

# Data files
*.csv
*.xlsx
*.db
*.sqlite

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
